body {
  background-color: #a9a9a9;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 2px solid #323238;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: auto;
}

.text-display {
  text-align: right;
  font-size: 20px;
  margin-bottom: 10px;
}

.display {
  text-align: end;
  align-items: center;
  background-color: black;
  color: white;
  height: 30px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 2px;
}

button {
  position: relative;
  height: 60px;
  width: 72px;
  outline: 1px solid rgb(168, 163, 163);
  background-color: black;
  color: white;
}

.text-display {
  text-align: end;
  background-color: black;
  color: white;
}

#clear {
  background-color: #b22222;
  grid-column: span 2;
  width: 147px;
}

#equals {
  background-color: #126180;
}

#clear:hover {
  background-color: rgb(245, 5, 5);
}

#equals:hover {
  background-color: #1167b1;
}

#seven:hover {
  background-color: #9e9e9e;
}
#eight:hover {
  background-color: #9e9e9e;
}
#nine:hover {
  background-color: #9e9e9e;
}
#four:hover {
  background-color: #9e9e9e;
}
#five:hover {
  background-color: #9e9e9e;
}
#six:hover {
  background-color: #9e9e9e;
}
#one:hover {
  background-color: #9e9e9e;
}
#two:hover {
  background-color: #9e9e9e;
}
#three:hover {
  background-color: #9e9e9e;
}
#zero:hover {
  background-color: #9e9e9e;
}
#decimal:hover {
  background-color: #9e9e9e;
}

#multiply:hover {
  background-color: grey;
}

#add:hover {
  background-color: grey;
}

#divide:hover {
  background-color: grey;
}

#subtract:hover {
  background-color: grey;
}

#seven,
#eight,
#nine,
#four,
#five,
#six,
#one,
#two,
#three,
#zero,
#decimal {
  background-color: dark;
}

#divide,
#multiply,
#subtract,
#add {
  background-color: #4b4b4b;
}
